{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="form-page">

    <div class="form-card">

        <div class="form-icon">
            🔐
        </div>

        <h1>
            Welcome Back
        </h1>

        <p>
            Login to your investment account.
        </p>

        <form method="POST">

            <label>
                Email or Username
            </label>

            <input
                type="text"
                name="login"
                placeholder="Enter email or username"
                required
            >

            <label>
                Password
            </label>

            <input
                type="password"
                name="password"
                placeholder="Enter password"
                required
            >

            <button
                type="submit"
                class="primary-button full-width"
            >
                Login
            </button>

        </form>

        <p class="form-footer">
            Don't have an account?

            <a href="{{ url_for('auth.register') }}">
                Create one
            </a>
        </p>

    </div>

</div>

{% endblock %}
